<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Orit</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">About Orit</a></li>
                <li class="main-header__item"><a class="active" href="/admin/set-meeting">Set meeting</a></li>
                <li class="main-header__item"><a class="active" href="/admin/contact">Contact us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Orit P makeup artist</h1>
        <h3>Orit, 23 years old, is a talented makeup artist for 7 years</h3>
        <h3>Engaged in evening make-up, bridal make-up, make-up for photographs and more </h3>
        </h3>
    </main>
</body>

</html>